.navbar {
	box-sizing: border-box;
	position: sticky;
	width: 100vw;
	height: 8vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 2rem 0px 2rem;
	border-bottom: 1px white solid;
}

.navbar-title h1 {
	font-size: 2rem;
}

.navbar-links {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 1rem;
	width: fit-content;
}

.navbar-links * {
	cursor: pointer;
	opacity: 0.8;
	transition: ease-in-out;
	font-size: 1.2rem;
}

.navbar-links a.active {
	font-weight: bold;
	opacity: 1;
}

.navbar-links *:hover {
	opacity: 1;
}
